
<div class="mb-3">
  <%= form.label :song_title, "Cover Title", class: "form-label form-required" %>*
  <%= form.text_field :song_title, required: true, class: "form-control" %>
  <div class="form-text">
    What's this cover called?
  </div>
</div>

<div class="mb-3">
  <%= form.label :pronouns, "Pronouns", class: "form-label" %>
  <%= form.text_field :pronouns, size: 8, class: "form-control" %>
  <div class="form-text">
    <span class="pronoun-suggestion">he/him</span>,
    <span class="pronoun-suggestion">she/her</span>,
    <span class="pronoun-suggestion">they/them</span>,
    or your own ❤️
  </div>
</div>

<div class="mb-3">
  <%= form.label :artist_name, "Artist name", class: "form-label" %>*
  <%= form.text_field :artist_name, required: true, class: "form-control" %>
  <div class="form-text">
    Who is this cover by?
  </div>
</div>

<div class="mb-3">
  <%= form.label :file, "WAV File", class: "form-label" %>*
  <%= form.file_field :file, required: true, class: "form-control form-control-lg", direct_upload: true %>
  <div class="form-text">Please send .wav</div>
</div>

<div class="mb-3">
  <%= form.label :start_time, "Start Time", class: "form-label" %>
  <%= form.text_field :start_time, class: "form-control form-control-sm", placeholder: "0:00", title: "timestamp in format MM:SS (ex. 01:55)", pattern: "([0-9]+:)?([0-9][0-9])" %>
</div>

<div class="mb-3">
  <%= form.label :artwork, "Artwork", class: "form-label" %>
  <%= form.file_field :artwork, class: "form-control form-control-sm", direct_upload: true %>
  <div class="form-text">Artwork for your cover (optional)</div>
</div>

<div class="mb-3">
  <%= form.label :blurb, "Message", class: "form-label" %>
  <%= form.text_area :blurb, class: "form-control" %>
</div>

<div class="mb-3">
  <%= form.check_box :b_side %>
  <%= form.label :b_side, "It's for a B-sides release", class: "form-label pe-auto user-select-none" %>
</div>

<%= form.submit "Send it to the Pod", class: "btn btn-primary" %>

<script>
  document.querySelectorAll(".pronoun-suggestion").forEach(function(el){
    el.classList.add("text-link");
    el.addEventListener("click", function() {
      document.querySelector("#cover_pronouns").value = el.innerText;
    })
  });
</script>
