<%= content_tag(:div, id: (covers.any? && covers.first.b_side? ? "b_side_list" : "cover_list")) do %>
  <% covers.each_with_index do |cover, idx| %>
    <% cover_classes = cover.b_side? ? "cover b-side" : "cover" %>

    <div id="<%= dom_id(cover) %>" class="<%= cover_classes %> border rounded p-4 mb-4">
      <div class="cover-actions">
        <% if cover.b_side? %>
          <%= button_to toggle_b_side_cover_path(cover), { method: :post, class: "btn btn-secondary btn-sm js-toggle-b-side mx-1", params: { password: params[:password] }, data: { target: dom_id(cover) }, title: "Unmark as B-Side", remote: true } do %>
            <i class="bi bi-layers-fill"></i>
          <% end %>
        <% else %>
          <%= button_to toggle_b_side_cover_path(cover), { method: :post, class: "btn btn-outline-secondary btn-sm js-toggle-b-side mx-1", params: { password: params[:password] }, data: { target: dom_id(cover) }, title: "Mark as B-Side", remote: true } do %>
            <i class="bi bi-layers"></i>
          <% end %>
        <% end %>
        <% if cover.discarded? %>
          <%= button_to unarchive_cover_path(cover), { method: :post, class: "btn btn-primary btn-sm js-remove-cover mx-1", params: { password: params[:password] }, data: { target: dom_id(cover) }, title: "Unarchive", remote: true } do %>
            <i class="bi bi-archive"></i>
          <% end %>
        <% else %>
          <%= button_to archive_cover_path(cover), { method: :post, class: "btn btn-secondary btn-sm js-remove-cover mx-1", params: { password: params[:password] }, data: { target: dom_id(cover) }, title: "Archive", remote: true } do %>
            <i class="bi bi-archive"></i>
          <% end %>
        <% end %>
      </div>

      <h4 class="cover-title">
        <small class="text-muted"><span class="cover-index"><%= 1 + idx %></span>.</small>
        <%= cover.artist_name %> - "<%= cover.song_title %>"
        <% if cover.discarded? %>
          <span class="badge bg-secondary">Archived</span>
        <% end %>
      </h4>

      <%= l cover.created_at, format: :long %><br/>
      <b>Title:</b> <%= cover.song_title %><br/>
      <b>Artist:</b> <%= cover.artist_name %>
    <% if cover.pronouns.present? %>
      (pronouns: <%= cover.pronouns %>)
    <% end %>
  <br />

  <% if cover.artwork.attached? %>
    <b>Artwork:</b>
    <%= link_to(
      cover.artwork.blob.filename.sanitized,
      cover.artwork.variable? ?
        cover.artwork.variant(resize_to_limit: [1440,1440]).processed.url :
          rails_blob_path(cover.artwork, disposition: "inline"),
      target: "_blank"
    ) %><br />
  <% end %>

  <% if cover.blurb.present? %>
    <blockquote class="blurb">
      <%= simple_format cover.blurb %>
    </blockquote>
  <% end %>

  <% if blob = cover.file.blob %>
    <%= link_to blob.filename.sanitized, rails_blob_path(cover.file, disposition: "attachment"), download: "download", target: "_blank" %>
    <%= render "player/player", cover: cover %>
  <% else %>
    broken :(
  <% end %>
    </div>
  <% end %>
<% end %>
