<h1 class="mb-4 mt-4">Latest Covers</h1>

<% @covers.each do |cover| %>
  <div class="border rounded p-4">
    <b>Submitted:</b> <%= l cover.created_at, format: :long %><br/>
    <b>Title:</b> <%= cover.song_title %><br/>
    <b>Artist:</b> <%= cover.artist_name %> (pronouns: <%= cover.pronouns %>)
    <br />
    <%= simple_format cover.blurb %>
    <br />
    <%= link_to cover.file.blob.filename.sanitized, rails_blob_path(cover.file, disposition: "attachment") %>
    <br />

    <% if cover.artwork.attached? %>
      <% artwork_path = rails_blob_path(cover.artwork, disposition: "inline") %>
      <%= link_to artwork_path do %>
        <%= image_tag artwork_path %>
      <% end %>
      <br />
    <% end %>

    <%= audio_tag rails_blob_path(cover.file, disposition: "inline"), controls: true, autoplay: false, preload: "none", class: "embed-responsive-item" %>
  </div>
<% end %>
