<% content_for(:head) do %>
  <%= javascript_pack_tag 'admin' %>
<% end %>

<div class="mb-4">
  <%= link_to admin_path(password: params[:password]), { class: "btn btn-primary btn-md" } do %>
    Back to Current Submissions
  <% end %>
</div>

<h1 class="mb-4 mt-4">Archived Submissions (<%= @submissions.size %>)</h1>

<%= render "list", submissions: @submissions, id: "submission_list" %>

<h1 class="mb-4 mt-4">Archived B-Sides (<%= @b_sides.size %>)</h1>

<%= render "list", submissions: @submissions, id: "b_sides_list" %>

